<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeLoger"
        tools:targetApi="31">
        <activity
            android:name=".ModifAnnonce2"
            android:exported="false" />
        <activity
            android:name=".AnnonceDetails"
            android:exported="false" />
        <activity
            android:name=".RechercheAnnonceINFO"
            android:exported="false" />
        <activity
            android:name=".RechercheAnnonceID"
            android:exported="false" />
        <activity
            android:name=".RechercheAnnonce"
            android:exported="false" />
        <activity
            android:name=".ModifAnnonce"
            android:exported="false" />
        <activity
            android:name=".SuppAnnonce"
            android:exported="false" />
        <activity
            android:name=".AjoutAnnonce"
            android:exported="false" />
        <activity
            android:name=".ConsultSolvabilite"
            android:exported="false" />
        <activity
            android:name=".RechercheClient"
            android:exported="false" />
        <activity
            android:name=".AjoutClient"
            android:exported="false" />
        <activity
            android:name=".GestionAnnonces"
            android:exported="false" />
        <activity
            android:name=".GestionClients"
            android:exported="false" />
        <activity
            android:name=".HomeAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>